
head img{
    width: 100%;
    height: 30%;
}
body header button img{
    width: 25px;
    height: 25px;
}


h1{
    font-style: italic;
}

}
p{
    color: rgb(54, 58, 54);background-color: beige;
    text-align: center;font-size: medium;
}
body{
    direction: rtl;
}
body main button img{
    width: 15px;
    height: 15px;
}
body main section p{
    color: black ;
    font-style: italic;
}